.toolbar[data-v-c7728bd5] {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 12px;
}

.base-select[data-v-c7728bd5] {
  width: 220px;
}

.upload-base-select[data-v-c7728bd5] {
  width: 100%;
}

.pagination[data-v-c7728bd5] {
  justify-content: flex-end;
  margin-top: 12px;
}
